body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; 
}

.header {
  background-color: #f5f3f4; 
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.header-button {
  background-color: #1282a2; 
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
}

.header .nav {
  display: flex;
  gap: 1rem; 
  align-items: center; 
}

.header .nav a {
  background-color: #001f54; 
  color: white; 
  padding: 0.5rem 1rem;  
  border-radius: 5px; 
  text-decoration: none; 
  transition: background-color 0.3s; 
}

.header .nav a:hover {
  background-color: #1282a2; 
}


.header .nav {
  justify-content: center; 
}




.hero {
  display: flex;
  padding: 20px;
  background-color: #001f54;
  color: white;
}

.hero-image {
  flex: 1;
  background-color: #1282A2;
  height: 200px;
  margin-right: 20px;
}

.hero-content {
  flex: 2;
}





.cards {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  justify-content: center; 
}

.card {
  background-color: #e0e0e0;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  flex: 1; 
  max-width: 300px; 
}

.card-content {
  text-align: center;
}

.footer {
  background-color: #002d57; 
  color: white;
  text-align: center;
  padding: 1rem;
}
