/* Body */
body {
  margin: 0;
  background-color: #f4f4f4;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* Header Css */
.header {
  background-color: #f5f3f4;
  color: white;
  padding: 1rem 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-item.home-button {
  background-color: #1282a2;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.nav-item.home-button:hover {
  background-color: #0e678a;
}

.nav-group {
  display: flex;
  gap: 1rem;
  margin-left: 55%; 
}

.nav-item {
  background-color: #001f54;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  text-align: center;
}

.nav-item:hover {
  background-color: #1282a2;
}

/* Hero Css */
.hero {
  display: flex;
  padding: 20px;
  background-color: #001f54;
  color: white;
  height: 400px;
  gap: 5%;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.hero-image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #1282a2;
  border-radius: 5px;
  max-width: 700px;
  margin-left: 10%;
  margin-right: auto; 
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.hero-box {
  color: #f5f3f4;
  text-align: left;
  margin-right: 10px;
  width: 100%;
}

/* Cards css */
.cards-section {
  margin: 3rem 0;
  padding: 0 1rem;
  box-sizing: border-box;
}

.cards {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  background-color: #d3d3d3;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: 300px;
  width: 100%;
}

.card-content {
  text-align: center;
}

.cards-section .box-section {
  padding-left: 21%;
  padding-right: 20%; 
  box-sizing: border-box;
}

.hero-box-blue {
  color: #1282a2;
}

.hero-box-darkblue {
  color: #001f54;
  width: 100%;
}

.card h2 {
  color: #1282a2;
  font-family: 'Montserrat', sans-serif;
}

.card p {
  color: #f5f3f4;
}

.footer {
  background-color: #002d57;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}
